*{
    padding:0;
    margin:0;
}

/* 此处为css动画的集合 */
@-moz-keyframes ct-border{
    from{border-bottom-color:transparent;}
    to{border-bottom-color:brown;}
}

div{
    font-family:"WenQuanYi MicroHei","Microsoft YaHei","Arial","Consolas",monospace;
}

div.header{

}

div#logo{
    position:relative;
    float:left;
    width:30%;
    background-color:transparent;
    margin-top:5px;
    margin-left:10px;
}

div#logo p{
    position:absolute;
    font-size:14px;
    font-family:"Courier New";
    letter-spacing:7px;
    top:54px;
    left:20px;
    color:#0053a0;
    text-shadow:5px 2px 3px rgba(3,242,242,0.8);
}

div#logo img{
    width:284px;
    height:73px; /*the original size*/
}

div.nav .nav-title{
    position:relative;
    float:left;
    width:20%;
    height:100%;
    font-family:inherit;
    font-size:24px;
    font-weight:0;
    letter-spacing:5px;
    line-height:60px;
    text-align:center;
    min-width:10%;
}

div.center-border{
    margin-left:auto;
    margin-right:auto;
    width:80%;
    min-width:800px;
    max-width:1024px;
}

/*title的链接*/
div.nav-title a{
    padding-left:3px;
    text-decoration:none;
    color:black;
}

div.nav-title a:hover{
    text-decoration:none;
    border-bottom-style:solid;
    border-bottom-width:5px;
    border-bottom-color:brown;
    -moz-animation:ct-border 0.4s;
    -moz-animation-mode:both;
}

div.nav{
    margin-top:10px;
    height:60px;
    float:left;
    width:67%;
    position:relative;
}

div.content{
    margin-left:1%;
    margin-right:1%;
    margin-top:15px;
}

div.content-left{
    width:47%;
    margin: 0 1%;
    margin-top:10px;
    position:relative;
    float:left;
}

div.content-right{
    margin:0 1%;
    width:47%;

    margin-top:10px;
    position:relative;
    float:left;
}

div.blog-brief{
    position:relative;
    margin-top:10px;
    margin-bottom:10px;
    width:100%;
    height:85px;

}

div.content-left div.blog-brief{
    background-color:rgba(224,224,224,0.5);    
}

div.content-right div.blog-brief{ 
    background-color:rgba(235,244,51,0.5);   
}


div.blog-brief .blog-title{
    font-size:35px;
    color:darkblue;
    position:absolute;
    left:10px;
    top:10px;
}

div.blog-brief .blog-date{
    position:absolute;
    left:20px;
    bottom:10px;
    font-size:14px;
    color:#333;
}
.clearfix:after{
    content:".";
    display:block;
    clear:both;
    visibility:hidden;
}


/* temperary ads */
div.temp_ad{
    position:relative;
    float:right;
    right:0;
    top:200px;
}